@import './base.css';

html,
body,
#app {
  width: 100%;
  max-width: 100%;
  min-width: 0;
  overflow-x: hidden;
}

#app {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 1rem;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: block;
  }

  #app {
    display: block;
    width: 100%;
    padding: 0 2rem;
  }
}

@media (max-width: 680px) {
  html,
  body,
  #app {
    width: 100vw;
  }
}
